header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #e8ebee;
  
    > nav {
      padding: 10px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  
    nav a {
      padding: 15px;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-size: x-large;
    }
  
    > nav > a:hover {
      color: black;
      font-weight: bold;
      text-decoration: none;
    }
  
    &.logo {
      width: 80px;
      justify-content: left;
    }
  
    .logo img {
      width: 80px;
      border-radius: 30px;
    }
  }
  